<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <title>Amadon</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Amadon Store!</strong><br /></a></div>
    </nav>
    <div class="container">
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for ${{total_charge}}</p>
        <p>You have ordered {{total_items_ordered}} items so far and spent ${{all_orders_sum}} with Amadon.com!</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>

</html>