<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <title>Amadon</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Amadon Store!</strong><br /></a></div>
    </nav>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                    <tr>
                        <form action="/process/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="new">
                            <td>{{product.description}}</td>
                            <td><input type="hidden" name="price_id" value="{{product.id}}">{{product.price}}</td>
                            <td><select name="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></td>
                            <td><input type="submit" value="Buy!"></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>