<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Semi-Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css'%}">
</head>

<body>
    <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Show</h4><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the show?&nbsp;</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Back</button><button class="btn btn-danger" type="button"
                        onclick="window.location = `/shows/` + ThisItem + `/destroy`">DELETE</button></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/shows"><strong>Semi-Restful TV
                    Shows</strong><br></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/shows">All Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="/shows/new"
                            onclick="sessionStorage.setItem(`backTo`, window.location.pathname)">Add a New
                            Show</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div role="alert" class="alert alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button><span><strong class="text-uppercase">{{message.tags}}
                    &nbsp;</strong>{{message}}</span></div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="features-boxed">
        <div class="container">
            <div class="mt-4">
                <h1>All Shows</h1>
            </div>
            <div class="row justify-content-center features mt-4">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Network</th>
                                    <th>Release Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in shows%}
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.network}}</td>
                                    <td>{{item.release_date}}</td>
                                    <td class="m-0">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><a class="underline" href="/shows/{{item.id}}"
                                                    onclick="sessionStorage.setItem(`backTo`, window.location.pathname)">Show</a><span
                                                    class="ml-2">|</span></li>
                                            <li class="list-inline-item"><a class="underline"
                                                    href="/shows/{{item.id}}/edit"
                                                    onclick="sessionStorage.setItem(`backTo`, window.location.pathname)">Edit</a><span
                                                    class="ml-2">|</span></li>
                                            <li class="list-inline-item"><a class="underline" href="#"
                                                    data-toggle="modal" data-target="#myModal"
                                                    onclick="ThisItem = {{item.id}}">Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col"><a class="underline" href="/shows/new"
                        onclick="sessionStorage.setItem(`backTo`, window.location.pathname)">Add
                        a New Show</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>