<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Books/Authors</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/Features-Boxed.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Books &amp; Authors</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/">Books</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/authors">Authors</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="features-boxed">
        <div class="container">
            <div class="intro"></div>
            <div class="row features">
                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-5 item">
                    <div class="box">
                        <h1 class="mb-4">Add a Book</h1>
                        <form method="post" action="/process/">
                            {% csrf_token %}
                            <div class="form-row m-3">

                                <div class="col-xl-3"><label class="col-form-label">Title</label></div>
                                <div class="col">
                                    <input class="form-control" type="text" name="title" maxlength="255" required
                                        minlength="3">
                                </div>
                            </div>
                            <div class="form-row m-3">
                                <div class="col-xl-3"><label class="col-form-label">Description</label></div>
                                <div class="col">
                                    <textarea class="form-control" name="desc"></textarea>
                                </div>
                            </div>
                            <input class="form-control" type="hidden" name="type" value="add_book" />
                            <div class="form-row m-3">
                                <div class="col-xl-3"><label class="col-form-label"></label></div>
                                <div class="col d-xl-flex justify-content-xl-start">
                                    <button class="btn btn-outline-secondary" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col offset-xl-3 item">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in books%}
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.title}}</td>
                                        <td><a href="books/{{item.id}}">View</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>