<!-- Static assets -->
{% load static %}


<div id="loader" class="h-100">
    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-center"><img id="loadingGIF-1"
            src="{% static '/img/plantIcon.png' %}"></div>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-center">
        <h4 class="text-center text-light mt-auto appTitle">Downtime Planner</h4>
    </div>
    <div class="text-center d-xl-flex justify-content-xl-center"><img src="{% static '/img/loading-13.gif' %}">
    </div>
</div>