{% load static %}
<script src="{% static '/js/vendor/jquery.min.js'%}"></script>
<script src="{% static '/js/vendor/dx.all.js'%}"></script>
<script src="{% static '/js/vendor/moment.js'%}"></script>
<script src="{% static '/js/vendor/daterangepicker.min.js'%}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static '/js/vendor/select2.full.min.js'%}"></script>
<script src="{% static '/js/request/request.js'%}"></script>
<script src="{% static '/js/initialize.js'%}"></script>
<script src="{% static '/js/request/locale.js'%}"></script>
<script src="{% static '/js/request/request_scripts.js' %}"></script>
<script src="{% static '/js/theme.js'%}"></script>
<script src="{% static '/js/table.js'%}"></script>
<script src="{% static '/js/scheduler/scheduler.js' %}"></script>
<script src="{% static '/js/request/edit.js'%}"></script>